---
import "./index.css";
---

<div class="sb-menu-toggle" role="button">
  <span></span>
  <span></span>
  <span></span>
  <input type="checkbox" id="sb-menu-toggle" name="toggle" tabindex="-1" />
</div>
