---
import "./index.css";
---

<div class="sb-menu-toggle">
  <span></span>
  <span></span>
  <span></span>
  <input
    aria-label="Menu toggle: ignore this control"
    id="sb-menu-toggle"
    name="toggle"
    tabindex="-1"
    type="checkbox"
  />
</div>
