---
import "./index.css"

const { hideClass = "sb-remove" } = Astro.props
---

<label class="sb-menu-toggle">
  <input
    aria-label="Menu toggle"
    id="sb-menu-toggle"
    name="toggle"
    type="checkbox"
  />
  <span></span>
  <span></span>
  <span></span>
  <span class={hideClass}>Menu toggle (ignore)<br /><br /></span>
</label>
<script>
  function enhanceToggle() {
    const toggle = document.querySelector(
      ".sb-menu-toggle input",
    ) as HTMLInputElement

    if (toggle && globalThis.location.hash === "#site-menu") {
      toggle.checked = true
    }

    globalThis.addEventListener("hashchange", function () {
      if (toggle && globalThis.location.hash === "#site-menu") {
        toggle.checked = true
      }
    })

    toggle?.addEventListener("change", function () {
      if (
        toggle.checked === false &&
        globalThis.location.hash === "#site-menu"
      ) {
        const page = `${globalThis.location.origin}${globalThis.location.pathname}`
        if (document.referrer === page) {
          globalThis.history.back()
        }
      }
    })
  }

  document.addEventListener("DOMContentLoaded", enhanceToggle)
</script>
