---
import "./index.css"
---

<div class="sb-menu-toggle">
  <span></span>
  <span></span>
  <span></span>
  <input
    aria-label="Menu toggle"
    id="sb-menu-toggle"
    name="toggle"
    type="checkbox"
  />
</div>
