---
import "./index.css"
---

<label class="sb-menu-toggle">
  <input
    aria-label="Menu toggle"
    id="sb-menu-toggle"
    name="toggle"
    type="checkbox"
  />
  <span></span>
  <span></span>
  <span></span>
</label>
