.sb-menu-toggle {
	border: 2px solid transparent;
	border-radius: 3px;
	align-items: center;
	background-color: var(--sb-header-background-color);
	color: var(--sb-header-color);
	display: flex;
	flex-direction: column;
	height: 48px;
	justify-content: space-between;
	padding: 6px;
	width: 54px;
	position: fixed;
	margin-top: 0.2rem;
	max-width: 54px;
	top: var(--sb-space-xs);
	right: var(--sb-space-s);
	z-index: 10000000000;
	transition: all 0.5s ease-in-out;
}

header.sb-header {
	padding-right: 90px;
}

.sb-menu-toggle:focus-within,
.sb-menu-toggle:hover {
	border-color: #1c0;
	transition: all 0.5s ease-in-out;
}

.sb-menu-toggle span {
	background-color: var(--sb-menu-toggle-color, #fafafa);
	border-radius: 2px;
	height: 7px;
	width: 100%;
	transition: all 0.5s ease-in-out;
}

.sb-menu-toggle:focus-within span,
.sb-menu-toggle:hover span {
	background-color: var(--sb-menu-toggle-color-hover, #1c0);
}

.sb-menu-toggle input#sb-menu-toggle {
	position: absolute;
	height: 100%;
	inset: 0;
	opacity: 0;
	width: 100%;
	z-index: 1000000;
}

input#sb-menu-toggle:checked + span {
	transform: translate(0, 13px) rotate(45deg);
	transition: all 0.5s ease-in-out;
}

input#sb-menu-toggle:checked + span + span {
	opacity: 0;
	transition: all 0.5s ease-in-out;
}

input#sb-menu-toggle:checked + span + span + span {
	transform: translate(0, -13px) rotate(-45deg);
	transition: all 0.5s ease-in-out;
}
