.sb-trail-list {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	list-style-type: none;
	padding: 0;
}

.sb-trail-list-item {
	line-height: 1.5;
	white-space: nowrap;
}

.sb-trail-link,
.sb-trail-this-page {
	border-radius: 4px;
	display: inline-block;
	padding: 2px 3px;
	text-decoration: none;
	text-transform: lowercase;
}

.sb-trail-list-item:not(:last-of-type)::after {
	content: "\2002>\2002";
}

.sb-trail-link {
	background-color: var(--header-link-background-color, transparent);
	color: var(--header-link-color);
}

.sb-trail-link,
.sb-trail-link:visited {
	background-color: hsl(212, 25%, 23%);
	background-color: var(--header-link-background-color, hsl(212, 25%, 23%));
	color: hsl(56, 100%, 72%);
	color: var(--header-link-color, hsl(56, 100%, 72%));
	outline-color: hsl(56, 100%, 72%);
	outline-color: var(--header-outline-color, hsl(56, 100%, 72%));
	text-decoration: none;
}
