---
import CodeBlock from "../../../../src/CodeBlock/index.astro";
import Layout from "../_layouts/index.astro";
import pageProperties from "./pageProperties";
import * as typeTs from "./_assets/attributes.ts.md";

export const description = pageProperties.description;
export const page = pageProperties.name;
export const title = pageProperties.alternateName as string;
---

<Layout pageProperties={pageProperties} title={title}>
  <main>
    <article>
      <h2>{page}</h2>
      <CodeBlock
        properties={{
          codeSampleType: "code snippet",
          programmingLanguage: "TypeScript",
        }}
        snippet={typeTs}
      />
    </article>
  </main>
</Layout>
