---
import CodeBlock from "../../../../src/CodeBlock/index.astro";
import Layout from "../_layouts/index.astro";
import TableOfContents from "../_components/TableOfContents/index.astro";
import * as typeTs from "./_assets/attributes.ts.md";
---

<Layout title="Attributes">
  <main>
    <article>
      <h2>ARIA, HTML, and DOM Attributes and ARIA roles</h2>
      <CodeBlock snippet={typeTs} />
    </article>
  </main>
</Layout>
