.sb-logotype {
	background-color: var(--sb-logotype-background-color, inherit);
	color: var(--sb-logotype-color, var(--sb-color-gray-0, #fafafa));
	font-family: var(--sb-font-body,
			Inter,
			Roboto,
			"Helvetica Neue",
			"Arial Nova",
			"Nimbus Sans",
			Arial,
			sans-serif);
	font-variant-ligatures: historical-ligatures;
	font-weight: 300;
	line-height: 1.2;
	margin: 0;
}

a.sb-logotype-link {
	background-color: var(--sb-logotype-link-background-color, inherit);
	border-radius: 5px;
	color: var(--sb-logotype-link-color, var(--sb-color-gray-0, #fafafa));
	line-height: 1;
	text-decoration: none;
}

a.sb-logotype-link:focus,
a.sb-logotype-link:hover {
	color: var(--sb-logotype-link-color-hover, var(--sb-color-highlight, #aaf5a3));
	outline: 2px solid var(--sb-logotype-link-outline-color-hover, var(--sb-color-highlight, #aaf5a3));
	outline-offset: 5px;
}
