.sb-latest {
	align-items: center;
	background-color: var(--sb-color-blue-tinted, #a3d3f5);
	border-bottom: var(--sb-color-gray-5, #747481);
	color: var(--sb-color-gray-8, #2c2c30);
	display: flex;
	gap: 0.3rem;
	justify-content: flex-start;
	padding: var(--sb-space-xs, 0.75rem) var(--sb-space-m, 1.5rem);
}

.sb-latest-heading {
	color: var(--sb-latest-heading-color, var(--sb-color-gray-8, #2c2c30));
	display: inline;
	font-size: var(--sb-step-0, 1rem);
	font-weight: 500;
	font-variant-caps: all-petite-caps;
	margin: 0;
	padding: 0;
}

.sb-latest-heading::after {
	content: " \00A0\2023\00A0 ";
}

.sb-latest a {
	color: var(--sb-latest-link-color, #0d4872);
	display: inline-block;
	font-weight: 500;
	margin: -0.0625rem -0.1875rem;
	padding: 0.0625rem 0.1875rem;
	text-decoration: none;
	text-underline-offset: 0.3125rem;
	text-decoration-skip-ink: none;
}

.sb-latest a:visited {
	color: var(--sb-latest-link-color-visited, #48094e);
}

.sb-latest a:focus,
.sb-latest a:hover {
	border-radius: 5px;
	background-color: var(--sb-latest-link-background-color-focus, var(--sb-color-link, #0d4872));
	color: var(--sb-latest-link-color-focus, var(--sb-color-gray-0, #fafafa));
	text-decoration: none;
	text-decoration-skip-ink: none;
}