.sb-latest {
	align-items: flex-end;
	display: flex;
	flex: 1;
	flex-direction: column;
	gap: 0.25rem;
	justify-content: flex-start;
}

.sb-latest-heading {
	color: var(--sb-latest-heading-color, var(--sb-color-gray-0, #fafafa));
	font-size: var(--sb-step-0, 1rem);
	font-weight: 500;
	font-variant-caps: all-petite-caps;
	margin: 0;
	padding: 0;
}

.sb-latest ol {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: 0;
	justify-content: flex-end;
	margin-right: -0.75rem;
}

.sb-latest ol li {
	display: inline-block;
	margin-left: 2rem;
	list-style-type: none;
}

.sb-latest a {
	align-items: center;
	border-radius: 5px;
	box-sizing: border-box;
	color: var(--sb-latest-link-color, #a3d3f5);
	display: flex;
	justify-content: center;
	min-height: 48px;
	text-decoration: none;
	padding: 0.25rem 0.75rem;
	margin-left: -0.75rem;
}

.sb-latest a:visited {
	color: var(--sb-latest-link-color-visited, #eea3f5);
}

.sb-latest a:focus,
.sb-latest a:hover {
	background-color: var(--sb-latest-link-background-color-hover, #a3d3f5);
	color: var(--sb-latest-link-color-hover, #0d4872);
	outline: 2px solid var(--sb-latest-link-outline-color-hover, #a3d3f5);
	outline-offset: 3px;
}