figure.sb-figure {
	align-items: stretch;
	display: flex;
	flex-direction: column-reverse;
	gap: 0.5rem;
	justify-content: space-between;
	margin: var(--sb-space-m, 1.25rem) 0;
}

figure.sb-figure > figcaption.sb-figure-figcaption {
	text-align: center;
	line-height: 1;
	padding: 0;
	text-align: center;
}

figure.sb-is-indexed figcaption::before {
	content: "Figure " counter(figures) ": ";
}
