aside.sb-digression {
	background-color: var(--sb-digression-background-color, hsl(56, 100%, 72%));
	border-radius: var(--sb-digression-border-radius, 5px);
	color: var(--sb-digression-color, hsl(212, 25%, 15%));
	margin: var(--sb-digression-margin, 0);
	padding: var(--sb-digression-padding, var(--sb-space-s, 1rem));
}

aside.sb-digression details {
	margin-top: var(--sb-digression-details-margin-top, 0);
}

aside.sb-digression summary {
	font-family: var(--sb-digression-summary-font-family, inherit);
	font-size: var(--sb-digression-summary-font-size, inherit);
	font-weight: var(--sb-digression-summary-font-weight, 400);
	outline-color: var(--sb-digression-summary-outline-color, inherit);
}

aside.sb-digression summary:focus,
aside.sb-digression summary:hover {
	border-radius: var(--sb-digression-summary-border-radius, 5px);
	outline-offset: var(--sb-digression-summary-outline-offset, 3px);
	outline: var(--sb-digression-summary-outline, 2px dotted var(--sb-digression-summary-outline-color));
}

aside.sb-digression details[open] summary {
	margin-bottom: var(--sb-box-open-margin-bottom, inherit);
}

@media print {
	aside.sb-digression:has(details) {
		display: var(--sb-print-digression-display, none);
	}

	aside.sb-digression:has(details[open]) {
		display: var(--sb-print-digression-display-open, block);
	}

	aside.sb-digression summary {
		list-style-type: var(--sb-digression-summary-list-style-type, none);
		margin-bottom: var(--sb-digression-summary-margin-bottom, 1rem);
	}
}
