.sb-digression {
	background-color: var(--sb-color-highlight, hsl(56, 100%, 72%));
	border-radius: 5px;
	color: hsl(240, 5%, 18%);
	margin: 0;
	padding: var(--sb-space-s, 1rem);
}

.sb-digression details {
	margin-top: 0;
}

.sb-digression summary {
	font-family: inherit;
	font-size: inherit;
	font-weight: 400;
	outline-color: inherit;
}

.sb-digression summary:focus,
.sb-digression summary:hover {
	border-radius: 5px;
	outline-offset: 3px;
	outline: 2px dotted var(--sb-color-highlight, hsl(56, 100%, 72%));
}

.sb-digression details[open] summary {
	margin-bottom: inherit;
}

@media print {
	.sb-digression:has(details) {
		display: none;
	}

	.sb-digression:has(details[open]) {
		display: block;
	}

	.sb-digression summary {
		list-style-type: none;
		margin-bottom: 1rem;
	}
}
