.sb-faq-question {
	align-items: var(--sb-faq-question-items, center);
	display: var(--sb-faq-question-display, flex);
}

.sb-faq-question > * {
	font-family: var(--sb-faq-question-content-font-family,
			var(--sb-font-body,
				Inter,
				Roboto,
				"Helvetica Neue",
				"Arial Nova",
				"Nimbus Sans",
				Arial,
				sans-serif));
	font-size: var(--sb-faq-question-content-font-size, var(--sb-step-1, 1.25rem));
	padding: var(--sb-faq-question-content-padding, 0);
}

.sb-faq-question::before {
	font-size: var(--sb-faq-question-font-size-before, var(--sb-step-1, 1.25rem));
}

.sb-faq-answer {
	margin: var(--sb-faq-answer-margin, var(--sb-space-s, 1rem) 0);
}
