---
import "./index.css"
import type { FaqProps as Props, QuestionProps } from "../../types"
import generateShortId from "../../utilities/generateShortId"
import mapAttributes from "../../utilities/mapAttributes"

const {
	answer: aAttrs,
	id = generateShortId(),
	question: { text: q, ...qAttrs } = {} as QuestionProps<"summary">,
	...attrs
} = Astro.props

const answerAttrs = mapAttributes(aAttrs, ["sb-faq-answer"])
const faqAttrs = mapAttributes(attrs, ["sb-faq"])
const questionAttrs = mapAttributes(qAttrs, ["sb-faq-question"])

const answer = await Astro.slots.render("default")
const question = (await Astro.slots.render("question")) || q
---

<details
	{...faqAttrs}
	id={id}
>
	<summary {...questionAttrs}>
		<Fragment set:html={question} />
	</summary>
	<div {...answerAttrs}>
		<Fragment set:html={answer} />
	</div>
</details>
