---
import TableOfContents from "../TableOfContents/index.astro";

const { pathname } = Astro.url;
---

{
	pathname === "/" ? (
		<nav>
			<TableOfContents />
		</nav>
	) : (
		<nav>
			<details class="components">
				<summary>Contents</summary>
				<TableOfContents />
			</details>
		</nav>
	)
}
