.sb-menu {
	background-color: var(--sb-menu-background-color, #dfdfe2);

	/* border-right: var(--sb-menu-border-right, 1px solid #a9a9b1); */
	height: 100%;
	overflow: scroll;
	margin: 0;
	position: absolute;
	left: -32rem;
	transition: left 0.75s ease 0s;
	width: fit-content;
	padding: var(--sb-space-xl) var(--sb-space-m) var(--sb-space-s);
	z-index: 10000;
}

.sb-page-content {
	flex-grow: 1;
	margin: 0;
	width: 100%;
}

main.sb-main {
	align-items: stretch;
	display: flex;
	justify-content: flex-start;
	padding: 0;
	gap: 0;
}

:has(input#sb-menu-toggle:checked) .sb-menu {
	left: 0;
	transition: left 0.75s ease 0s;
}

.sb-menu ol,
.sb-menu ul {
	font-size: var(--sb-step-0, 1rem);
	line-height: max(48px, 1.5);
	padding: 0;
}

.sb-menu * * li {
	list-style-type: "\00B7";
	margin: 0 0 0 2rem;
}

.sb-menu > ol > li,
.sb-menu > ul > li {
	list-style-type: none;
}

.sb-menu ol ol,
.sb-menu ol ul,
.sb-menu ul ol,
.sb-menu ul ul {
	margin: 0;
}

.sb-menu .sb-menu-link,
.sb-menu .sb-menu-this-page,
.sb-menu .sb-toggle {
	display: inline-block;
	font-size: var(--sb-step-1, 1.25rem);
	line-height: 1;
	min-height: 48px;
	text-decoration: none;
}

.sb-toggle svg {
	height: 1.2rem;
	width: 1.2rem;
}

.sb-menu-item .sb-menu-item-with-toggle {
	align-items: center;
	display: flex;
	gap: 0.5rem;
	justify-content: flex-start;
}

.sb-menu-item {
	overflow: hidden;
	padding-left: 2rem;
}

.sb-menu-item:has(.sb-toggle) {
	padding-left: 0;
}

.sb-menu-item .sb-toggle {
	width: 2rem;
}

.sb-foldable {
	opacity: 1;
}

.sb-toggle-shut .sb-foldable {
	display: none;
	opacity: 1;
	transition: opacity 0.5s ease 50ms;
}

.sb-menu-item .sb-vertical-bar {
	display: none;
}

.sb-menu-item.sb-toggle-shut .sb-vertical-bar {
	display: inherit;
}

@media only screen and (max-width: 500px) {
	.sb-menu {
		background-color: var(--sb-menu-background-color-mobile, #ececee);
		border-right: none;
		height: 100%;
		overflow: scroll;
		margin: 0;
		position: fixed;
		left: -100vw;
		transition: left 0.75s ease 0s;
		width: 100vw;
		padding: var(--sb-space-s) var(--sb-space-m);
		z-index: 10000;
	}

	:has(input#sb-menu-toggle:checked) .sb-menu {
		left: 0;
		transition: left 0.75s ease 0s;
		width: 100vw;
	}
}
