.sb-form {
	align-items: var(--sb-form-align-items, flex-start);
	display: var(--sb-form-display, flex);
	flex-direction: var(--sb-form-flex-direction, column);
	gap: var(--sb-form-gap, 1rem);
	justify-content: var(--sb-form-justify-content, flex-start);
	margin: var(--sb-form-margin, 1.5rem 0);
}
