.sb-button {
	background-color: hsl(240, 5%, 88%);
	border: 2px solid hsl(240, 5%, 28%);
	border-radius: 4px;
	color: hsl(240, 5%, 28%);
	padding: 0.25rem 0.75rem;
	text-transform: lowercase;
	font-variant-caps: small-caps;
	letter-spacing: 0.1ch;
	font-size: 1.25rem;
}

.sb-button-reset {
	background-color: var(--sb-color-highlight, hsl(56, 100%, 72%));
	color: hsl(240, 5%, 18%);
}

.sb-button-submit {
	background-color: hsl(111, 46%, 24%);
	border-color: hsl(111, 46%, 24%);
	color: hsl(210, 20%, 98%);
}

.sb-button:focus,
.sb-button:hover {
	border-color: hsl(111, 46%, 24%);
	background-color: hsl(240, 5%, 98%);
	color: hsl(111, 46%, 24%);
}
