.sb-button {
	background-color: var(--sb-color-gray-1, #dfdfe2);
	border: 2px solid var(--sb-color-gray-7, #44444b);
	border-radius: 4px;
	color: var(--sb-color-gray-7, #44444b);
	padding: 0.25rem 0.75rem;
	text-transform: lowercase;
	font-variant-caps: small-caps;
	letter-spacing: 0.1ch;
	font-size: 1.25rem;
}

.sb-button-reset {
	background-color: var(--sb-color-highlight, #aaf5a3);
	color: var(--sb-color-gray-8, #2c2c30);
}

.sb-button-submit {
	background-color: var(--sb-color-green-shaded, #0e4e09);
	border-color: var(--sb-color-green-shaded, #0e4e09);
	color: var(--sb-color-gray-0, #fafafa);
}

.sb-button:focus,
.sb-button:hover {
	border-color: var(--sb-color-green-shaded, #0e4e09);
	background-color: var(--sb-color-gray-0, #fafafa);
	color: var(--sb-color-green-shaded, #0e4e09);
}
