@supports (--css: variables) and (display: flex) {
	body {
		align-items: stretch;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-height: 100vh;
	}

	body > header * {
		padding: 0;
	}

	body > header a {
		outline-color: var(--header-outline-color);
	}

	body > header .logotype {
		line-height: 1.2;
	}

	body > header nav ol {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
	}

	body > header nav li {
		white-space: nowrap;
	}

	body > header nav a,
	body > header nav .this-page {
		border-radius: 4px;
		display: inline-block;
		padding: 2px 3px;
		text-decoration: none;
		text-transform: lowercase;
	}

	body > header nav li:not(:last-of-type)::after {
		content: "\2002>\2002";
	}

	body > header nav a {
		background-color: var(--header-link-background-color, transparent);
		color: var(--header-link-color);
	}

	main {
		flex-basis: auto;
		flex-grow: 1;
	}

	main > article:has(.masonry) {
		margin: 0;
		max-width: unset;
	}

	body > footer {
		align-items: center;
		display: flex;
		flex-basis: min-content;
		flex-wrap: wrap;
		gap: 1rem;
		justify-content: space-between;
		padding: var(--space-s) var(--space-m);
	}

	body > footer p {
		line-height: 1;
		margin: 0;
	}

	body > footer a,
	body > footer a:focus,
	body > footer a:hover {
		outline-color: var(--footer-link-outline-color);
	}

	body > footer nav ul {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
		justify-content: space-between;
		padding: 0;
	}

	body > footer nav li {
		margin: 0;
		white-space: nowrap;
	}

	body > footer nav a,
	body > footer nav .this-page {
		border-radius: 4px;
		display: inline-block;
		padding: 2px 3px;
		text-decoration: none;
		text-transform: lowercase;
	}

	body > footer nav a {
		background-color: var(--footer-link-background-color, transparent);
		color: var(--footer-link-color);
	}

	body > footer nav .this-page {
		background-color: var(--footer-this-page-background-color);
		color: var(--footer-this-page-color);
	}

	body > footer nav a:focus,
	body > footer nav a:hover {
		background-color: var(--footer-link-background-color-hover);
		color: var(--footer-link-color-hover);
	}

	body > footer nav a:active {
		background-color: var(--footer-link-background-color-active);
		color: var(--footer-link-color-active);
	}
}
