:root {
	--color-black: hsl(0, 0%, 0%);
	--color-white: hsl(0, 100%, 100%);

	--color-gray-0: hsl(212, 25%, 98%); /* sea salt */
	--color-gray-1: hsl(212, 25%, 93%); /* anti-flash white */
	--color-gray-2: hsl(212, 25%, 89%); /* alice blue */
	--color-gray-3: hsl(212, 25%, 83%); /* french gray */
	--color-gray-4: hsl(212, 25%, 71%); /* powder blue */
	--color-gray-5: hsl(212, 25%, 46%); /* payne's gray */
	--color-gray-6: hsl(212, 25%, 31%); /* charcoal */
	--color-gray-7: hsl(212, 25%, 23%); /* darker charcoal */
	--color-gray-8: hsl(212, 25%, 15%); /* gunmetal */

	--color-blue-ncs: hsl(200, 82%, 40%);
	--color-byzantium: hsl(325, 49%, 35%);
	--color-wine: hsl(350, 50%, 30%);
	--color-hunter-green: hsl(111, 46%, 24%);
	--color-hunyadi-yellow: hsl(36, 97%, 66%);
	--color-icterine: hsl(56, 100%, 72%);
	--color-mantis: hsl(111, 46%, 60%);
	--color-persian-red: hsl(4, 57%, 52%);
	--color-sky-blue: hsl(193, 73%, 72%);
	--color-y-ln-mn: hsl(212, 57%, 32%);

	--font-body: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans",
		Arial, sans-serif;
	--font-code: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
		"DejaVu Sans Mono", monospace;
	--font-titles: "Iowan Old Style", "Palatino Linotype", "URW Palladio L", P052,
		serif;

	--step--2: clamp(0.64rem, calc(0.58rem + 0.30vw), 0.88rem);
	--step--1: clamp(0.80rem, calc(0.73rem + 0.38vw), 1.10rem);
	--step-0: clamp(1.00rem, calc(0.91rem + 0.47vw), 1.38rem);
	--step-1: clamp(1.25rem, calc(1.13rem + 0.59vw), 1.72rem);
	--step-2: clamp(1.56rem, calc(1.42rem + 0.73vw), 2.15rem);
	--step-3: clamp(1.95rem, calc(1.77rem + 0.92vw), 2.69rem);
	--step-4: clamp(2.44rem, calc(2.21rem + 1.14vw), 3.36rem);
	--step-5: clamp(3.05rem, calc(2.77rem + 1.43vw), 4.20rem);

  --space-3xs: clamp(0.25rem, calc(0.22rem + 0.16vw), 0.38rem);
  --space-2xs: clamp(0.50rem, calc(0.45rem + 0.23vw), 0.69rem);
  --space-xs: clamp(0.75rem, calc(0.67rem + 0.39vw), 1.06rem);
  --space-s: clamp(1.00rem, calc(0.91rem + 0.47vw), 1.38rem);
  --space-m: clamp(1.50rem, calc(1.36rem + 0.70vw), 2.06rem);
  --space-l: clamp(2.00rem, calc(1.81rem + 0.94vw), 2.75rem);
  --space-xl: clamp(3.00rem, calc(2.72rem + 1.41vw), 4.13rem);
  --space-2xl: clamp(4.00rem, calc(3.63rem + 1.88vw), 5.50rem);
  --space-3xl: clamp(6.00rem, calc(5.44rem + 2.81vw), 8.25rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, calc(0.14rem + 0.55vw), 0.69rem);
  --space-2xs-xs: clamp(0.50rem, calc(0.36rem + 0.70vw), 1.06rem);
  --space-xs-s: clamp(0.75rem, calc(0.59rem + 0.78vw), 1.38rem);
  --space-s-m: clamp(1.00rem, calc(0.73rem + 1.33vw), 2.06rem);
  --space-m-l: clamp(1.50rem, calc(1.19rem + 1.56vw), 2.75rem);
  --space-l-xl: clamp(2.00rem, calc(1.47rem + 2.66vw), 4.13rem);
  --space-xl-2xl: clamp(3.00rem, calc(2.38rem + 3.13vw), 5.50rem);
  --space-2xl-3xl: clamp(4.00rem, calc(2.94rem + 5.31vw), 8.25rem);

	--flow-space: 1.5rem;
	--gutter: var(--space-s-m);
	--border-radius: var(--size-step-1);
	--transition-base: 250ms ease;
	--transition-movement: 200ms linear;
	--transition-fade: 200ms ease;
	--transition-bounce: 500ms cubic-bezier(0.5, 0.05, 0.2, 1.5);
	--tracking: 0.05ch;
	--tracking-s: 0.075ch;

	--sb-cc-license-fill-color: var(--color-gray-2);
	--sb-cc-license-stroke-color: var(--color-y-ln-mn);

	--sb-code-block-font-family: var(--font-code);
	--sb-code-block-line-number-color: var(--color-icterine);

	--sb-fieldset-legend-font-size: var(--step-1);
	--sb-fieldset-legend-font-size-nested: var(--step-0);
	--sb-fieldset-legend-font-family: var(--font-titles);
	--sb-fieldset-margin-bottom: var(--space-s);

	--sb-form-fieldset-wrapper-label-font-family: var(--font-body);
	--sb-fieldset-wrapper-margin-bottom: var(--space-s);
	--sb-fieldset-wrapper-padding: var(--space-s);

	--sb-footer-justify-content: flex-end;
	--sb-footer-padding: var(--space-s);

	--sb-header-padding: var(--space-s);

	--sb-pull-quote-author-font-size: var(--step-0);
	--sb-pull-quote-font-size: var(--step-1);
	--sb-pull-quote-padding: var(--space-m) var(--space-m) var(--space-s);
}
