.sb-article-list .sb-article-list-term {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	gap: 0.1rem;
	justify-content: space-between;
	margin-top: var(--sb-space-m, 1.5rem);
}

.sb-article-list .sb-article-pub-date {
	font-size: 1rem;
}

.sb-article-list .sb-article-title {
	font-size: var(--sb-step-2, 1.5rem);
	line-height: 1;
	padding: 0;
	margin: 0;
}

.sb-article-list .sb-article-title a {
	text-decoration: none;
}

.sb-article-list .sb-article-subtitle {
	color: var(--sb-article-subtitle-color, #0e4e09);
	font-size: var(--sb-step-0, 1rem);
}

.sb-article-list .sb-article-abstract {
	margin: 1rem 1.5rem 0;
}