---
import "./index.css"
import PlainDate from "../metadata/PlainDate/index.astro"

export type Props = {
  articles: Array<unknown>
}

const { articles } = Astro.props
---

{
  articles ? (
    <dl class="sb-article-list">
      {articles.map((article) => {
        const subtitle = article.getArticleData?.().alternativeHeadline
        const pubDate = article.getArticleData?.().dateCreated
        const abstract = article.getArticleData?.().abstract || article.blurb

        return (
          <>
            <dt class="sb-article-list-term">
              {pubDate ? (
                <div class="sb-article-pub-date">
                  <PlainDate datetime={pubDate} />
                </div>
              ) : null}
              <div class="sb-article-title">
                <a href={article.url as string}>{article.title as string}</a>
              </div>
              {subtitle ? (
                <div class="sb-article-subtitle">{subtitle}</div>
              ) : null}
            </dt>
            {abstract ? (
              <dd class="sb-article-abstract">
                <Fragment set:html={abstract} />
              </dd>
            ) : null}
          </>
        )
      })}
    </dl>
  ) : null
}
