---
export type Props = {
	links: Array<Array<string>>;
};
const { pathname } = Astro.url;

const { links = [] } = Astro.props;
---

<nav aria-labelledby="supplemental-navigation-label">
	<h2 class="off-screen" id="supplemental-navigation-label">
		Links to more info
	</h2>
	<ul role="presentation">
		{
			links.map(([path, label]) =>
				path === pathname ? (
					<li>
						<span aria-current="page" class="this-page">
							{label}
						</span>
					</li>
				) : (
					<li>
						<a href={path}>{label}</a>
					</li>
				)
			)
		}
	</ul>
</nav>
