.sb-trail {
	margin: auto;
	width: var(--sb-page-width, min(48rem, 90vw));
}

.sb-trail.sb-full-width {
	margin: 0 var(--sb-space-m, 1.5rem);
	max-width: unset;
}

.sb-trail-list {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	font-size: var(--sb-trail-list-font-size, 1.2rem);
	gap: 2px;
	justify-content: flex-start;
	list-style-type: none;
	margin: 3rem 0 0;
	padding: 0;
}

.sb-trail-list-item {
	line-height: 1.6;
	white-space: nowrap;
}

.sb-trail-link {
	background-color: var(--sb-trail-link-background-color, transparent);
	border-radius: 4px;
	color: var(--sb-trail-link-color, #aaf5a3);
	display: inline-block;
	line-height: 1;
	padding: 3px 5px;
	margin-left: -5px;
	text-decoration: none;
	text-transform: lowercase;
}

.sb-trail-this-page {
	border-radius: 4px;
	display: inline-block;
	line-height: 1;
	padding: 0 3px 0 7px;
	margin-left: -5px;
	text-decoration: none;
	text-transform: lowercase;
}

a.sb-trail-link:focus,
a.sb-trail-link:hover {
	border-radius: 5px;
	color: var(--sb-trail-link-color-hover, #aaf5a3);
	display: inline-block;
	outline: 2px solid var(--sb-trail-link-outline-color, #aaf5a3);
	outline-offset: 3px;
	padding: 0 5px;
	text-decoration: none;
}

.sb-trail-list-item::after {
	content: "\2002>\2002";
}

.sb-trail-link:visited {
	color: var(--sb-trail-link-color-visited, #aaf5a3);
}

.sb-trail-header {
	left: -100000px;
	top: -100000px;
}

@media only screen and (max-width: 48rem) {
	.sb-trail-list-item::after {
		content: ">\2004";
	}

	.sb-trail-list {
		justify-content: flex-start;
	}
}