.sb-trail-list {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: 2px;
	justify-content: flex-end;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.sb-trail-list-item {
	line-height: 1.5;
	white-space: nowrap;
}

.sb-trail-link {
	background-color: var(--sb-trail-link-background-color, transparent);
	border-radius: 4px;
	color: var(--sb-trail-link-color, var(--sb-color-highlight, #aaf5a3));
	display: inline-block;
	line-height: 1;
	padding: 3px 5px;
	margin-left: -5px;
	text-decoration: none;
	text-transform: lowercase;
}

.sb-trail-this-page {
	border-radius: 4px;
	display: inline-block;
	line-height: 1;
	padding: 0 3px 0 7px;
	margin-left: -5px;
	text-decoration: none;
	text-transform: lowercase;
}

.sb-trail-fallback {
	border-radius: 4px;
	display: inline-block;
	line-height: 1;
	padding: 0 5px;
	margin-left: -5px;
	text-decoration: none;
	text-transform: lowercase;
}

a.sb-trail-fallback {
	background-color: transparent;
	color: var(--sb-trail-fallback-color, var(--sb-color-highlight, #aaf5a3));
}

a.sb-trail-link:focus,
a.sb-trail-link:hover {
	border-radius: 5px;
	color: var(--sb-trail-link-color-hover, var(--sb-color-highlight, #aaf5a3));
	display: inline-block;
	outline: 2px solid var(--sb-trail-link-outline-color, var(--sb-color-highlight, #aaf5a3));
	outline-offset: 3px;
	padding: 0 5px;
	text-decoration: none;
}

a.sb-trail-fallback:focus,
a.sb-trail-fallback:hover {
	border-radius: 5px;
	color: var(--sb-trail-fallback-color-hover, var(--sb-color-highlight, #aaf5a3));
	display: inline-block;
	outline: var(--sb-trail-fallback-outline-color-hover, 2px solid var(--sb-color-highlight, #aaf5a3));
	outline-offset: 3px;
	padding: 0 3px;
	text-decoration: none;
}

.sb-trail-list-item:not(:last-of-type)::after {
	content: "\2002>\2002";
}

.sb-trail-link:visited {
	color: var(--sb-trail-link-color-visited, var(--sb-color-highlight, #aaf5a3));
}

.sb-trail-header {
	left: -100000px;
	top: -100000px;
}

@media only screen and (max-width: 48rem) {
	.sb-trail-list-item:not(:last-of-type)::after {
		content: ">\2004";
	}

	.sb-trail-list {
		justify-content: flex-start;
	}
}
