:root {
	--sb-step--sb-2: clamp(0.64rem, calc(0.58rem + 0.28vw), 0.8rem);
	--sb-step--sb-1: clamp(0.8rem, calc(0.73rem + 0.35vw), 1rem);
	--sb-step-0: clamp(1rem, calc(0.91rem + 0.43vw), 1.25rem);
	--sb-step-1: clamp(1.25rem, calc(1.14rem + 0.54vw), 1.56rem);
	--sb-step-2: clamp(1.56rem, calc(1.43rem + 0.68vw), 1.95rem);
	--sb-step-3: clamp(1.95rem, calc(1.78rem + 0.85vw), 2.44rem);
	--sb-step-4: clamp(2.44rem, calc(2.23rem + 1.06vw), 3.05rem);
	--sb-step-5: clamp(3.05rem, calc(2.79rem + 1.33vw), 3.82rem);

	--sb-space-3xs: clamp(0.25rem, calc(0.23rem + 0.09vw), 0.31rem);
	--sb-space-2xs: clamp(0.5rem, calc(0.45rem + 0.27vw), 0.69rem);
	--sb-space-xs: clamp(0.75rem, calc(0.68rem + 0.36vw), 1rem);
	--sb-space-s: clamp(1rem, calc(0.91rem + 0.45vw), 1.31rem);
	--sb-space-m: clamp(1.5rem, calc(1.36rem + 0.71vw), 2rem);
	--sb-space-l: clamp(2rem, calc(1.82rem + 0.89vw), 2.63rem);
	--sb-space-xl: clamp(3rem, calc(2.73rem + 1.34vw), 3.94rem);
	--sb-space-2xl: clamp(4rem, calc(3.64rem + 1.79vw), 5.25rem);
	--sb-space-3xl: clamp(6rem, calc(5.46rem + 2.68vw), 7.88rem);
}

body {
	align-items: var(--sb-body-align-item, stretch);
	background-color: var(--sb-body-background-color, hsl(212, 25%, 98%));
	color: var(--sb-body-color, hsl(212, 25%, 31%));
	display: var(--sb-body-display, flex);
	flex-direction: var(--sb-body-flex-direction, column);
	font-family: var(--sb-body-font-family,
			Inter,
			Roboto,
			"Helvetica Neue",
			"Arial Nova",
			"Nimbus Sans",
			Arial,
			sans-serif);
	font-size: var(--sb-body-font-size, var(--sb-step-0, 1rem));
	font-variant-numeric: var(--sb-font-variant-numeric, oldstyle-nums proportional-nums);
	font-variant-ligatures: var(--sb-body-font-variant-ligatures, historical-ligatures);
	font-weight: var(--sb-body-font-weight, 400);
	justify-content: var(--sb-body-justify-content, space-between);
	line-height: var(--sb-body-line-height, 1.4);
	min-height: var(--sb-body-min-height, 100vh);
	position: var(--sb-body-position, relative);
	quotes: var(--sb-body-quotes, "“" "”" "‘" "’");
}
