.sb-body {
	align-items: stretch;
	background-color: var(
		--sb-body-background-color,
		var(--sb-color-gray-0, #fafafa)
	);
	color: var(--sb-body-color, var(--sb-color-gray-7, #44444b));
	display: flex;
	flex-direction: column;
	font-family: var(
		--sb-font-body,
		Inter,
		Roboto,
		"Helvetica Neue",
		"Arial Nova",
		"Nimbus Sans",
		Arial,
		sans-serif
	);
	font-size: var(--sb-step-0, 1rem);
	font-variant-numeric: oldstyle-nums proportional-nums;
	font-variant-ligatures: historical-ligatures;
	font-weight: 400;
	justify-content: space-between;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
	padding: 0;
	position: relative;
	quotes: "“" "”" "‘" "’";
}
