.sb-wrap {
	margin: var(--sb-space-s, 1rem) 0 0;
	max-width: unset;
	width: 100%;
}

.sb-wrap .sb-wrap-content {
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: flex-start;
}
