form {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	justify-content: flex-start;
	margin: 1.5rem 0;
}

.sb-field {
	margin: 1rem 0;
}

fieldset.sb-field {
	background-color: unset;
	border: none;
	border-radius: 4px;
	padding: 0.5rem 0;
	margin: 2.5rem 0 0;
	position: relative;
}

fieldset.sb-field>legend {
	align-items: flex-start;
	background-color: unset;
	border: none;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	justify-content: space-between;
	font-family: sans-serif;
	font-size: 1.2rem;
	font-weight: bold;
	left: -8px;
	position: absolute;
	top: -1.5rem;
}

fieldset.sb-field>legend {
	margin-top: 0;
}

.sb-group {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: 0.7rem;
	justify-content: flex-start;
	margin: 0;
}

.sb-instant .sb-group {
	align-items: flex-start;
	flex-direction: column;
}

.sb-group>label {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	font-family: sans-serif;
	font-size: 1.2rem;
	gap: 0.3rem;
	justify-content: space-between;
}

:not(.sb-group)>label {
	display: block;
	font-family: sans-serif;
	font-size: 1.2rem;
	font-weight: bold;
	margin-bottom: 0.3rem;
}

input,
select,
textarea {
	border: 2px solid forestgreen;
	border-radius: 4px;
	padding: 0.3rem 0.6rem;
}

input[type="number"] {
	text-align: right;
}

input[type="color"] {
	all: revert;
	border: 2px solid forestgreen;
	border-radius: 4px;
	min-height: 3rem;
}

input.sb-duration {
	width: 7ch;
}

.help {
	color: slateblue;
	font-weight: 500;
	margin: 0.5rem 0;
}

textarea {
	resize: revert;
}

.sb-duration-field input {
	max-width: 7ch;
}
