.sb-logotype a {
	background-color: hsl(212, 25%, 23%);
	background-color: var(--header-link-background-color, hsl(212, 25%, 23%));
	color: hsl(212, 25%, 98%);
	color: var(--header-logotype-color, hsl(212, 25%, 98%));
	text-decoration: none;
	outline-color: hsl(56, 100%, 72%);
	outline-color: var(--header-outline-color, hsl(56, 100%, 72%));
}

.sb-logotype a:focus,
.sb-logotype a:hover {
	color: hsl(56, 100%, 72%);
	color: var(--header-logotype-color-hover, hsl(56, 100%, 72%));
}
