---
import Layout from "./_layouts/index.astro";
import pageProperties from "./pageProperties";
---

<Layout pageProperties={pageProperties} pageProperties={pageProperties}>
	<main>
		<article>
			<h2>About the components</h2>
		</article>
	</main>
</Layout>
