---
import Layout from "./_layouts/index.astro";
import TableOfContents from "./_components/TableOfContents/index.astro";
---

<Layout>
  <main>
    <article>
      <TableOfContents />
    </article>
  </main>
</Layout>
