---
import "./index.css";
import mapAttributes from "../../utilities/mapAttributes";

const {
  href = "#main-content",
  label = "Skip to content",
  ...attrs
} = Astro.props;

const linkAttrs = mapAttributes(attrs, ["sb-skip-link"]);
---

<a {...linkAttrs} {href}>{label}</a>
