.sb-skip-link {
	background-color: var(--sb-skip-link-background-color, transparent);
	border-radius: 5px;
	color: var(--sb-skip-link-color, var(--sb-color-highlight, #aaf5a3));
	font-size: var(--sb-step-1, 1.25rem);
	font-family: var(--sb-font-body,
			Inter,
			Roboto,
			"Helvetica Neue",
			"Arial Nova",
			"Nimbus Sans",
			Arial,
			sans-serif);
	opacity: 0;
	padding: 0.1rem;
}

.sb-skip-link:focus {
	color: var(--sb-skip-link-color-focus, var(--sb-color-highlight, #aaf5a3));
	display: inline-block;
	opacity: 1;
	outline: 2px solid var(--sb-skip-link-outline-color-focus, var(--sb-color-highlight, #aaf5a3));
	outline-offset: 5px;
	text-decoration: none;
}

@media screen and (max-width: 60rem) {
	.sb-skip-link {
		left: -100000px;
		opacity: 1;
		position: absolute;
		top: -100000px;
	}

	.sb-skip-link:focus {
		left: 0;
		position: relative;
		top: 0;
	}
}
