---
import Microdata from "../../Microdata/index.astro";
import createClassList from "../../utilities/createClassList";
import createMailto from "../../utilities/createMailto";
import mapDataset from "../../utilities/mapDataset";
import type { EmailProps as Props } from "../../types";

const {
	["class:list"]: classList = [],
	dataset,
	email,
	link = {},
	mailtoOptions,
	properties,
	type = "Person",
	useMailto,
	...attrs
} = Astro.props;

const emailAddress = (
	(await Astro.slots.render("default")) ||
	email ||
	""
).trim();

const {
	["class:list"]: linkClassList = [],
	dataset: linkDataset,
	href,
	...linkAttrs
} = link as BaseAttributes;

const mailto = href ? href : createMailto(emailAddress, mailtoOptions);
const meta = {
	type,
	...properties,
};
const useMicrodata = Boolean(import.meta.env.USE_MICRODATA);
---

{useMicrodata ? <Microdata as="span" properties={meta} /> : null}
{
	useMailto ? (
		<a
			{...linkAttrs}
			class:list={createClassList("sb-email-link", linkClassList)}
			{...mapDataset(linkDataset)}
			data-sb-email="link"
			href={mailto}
		>
			<span
				{...attrs}
				class:list={createClassList("sb-email", classList)}
				{...mapDataset(dataset)}
				data-sb-email
			>
				{emailAddress}
			</span>
		</a>
	) : (
		<span
			{...attrs}
			class:list={createClassList("sb-email", classList)}
			{...mapDataset(dataset)}
			data-sb-email
		>
			{emailAddress}
		</span>
	)
}
