---
import "./index.css"
import type { MainProps as Props } from "../../types"
import mapAttributes from "../../utilities/mapAttributes"

const { id = "main-content", ...attrs } = Astro.props

const mainAttrs = mapAttributes(attrs, ["sb-main"])
---

<main {...mainAttrs} {id}>
	<slot />
</main>
