---
import "./index.css"
import type { MainProps as Props } from "../../types"
import mapAttributes from "../../utilities/mapAttributes"

const mainAttrs = mapAttributes(Astro.props, ["sb-main"])
---

<main {...mainAttrs}>
	<slot />
</main>
