.sb-cc-license-link {
	align-items: center;
	display: flex;
	gap: 0.2rem;
	justify-content: flex-end;
}

.sb-cc-license-link:focus,
.sb-cc-license-link:hover {
	border-radius: 5px;
	outline: 2px solid var(--sb-color-link, #0d4872);
	outline-offset: 5px;
}
