.sb-cards {
	margin: var(--sb-space-s, 1rem) var(--sb-space-m, 1.5rem);
	max-width: unset;
}

.sb-cards .sb-cards-content {
	display: grid;
	grid-gap: 1rem;
}

@supports (width: min(24rem, 100%)) {
	.sb-cards .sb-cards-content {
		grid-template-columns: repeat(auto-fit, minmax(min(24rem, 100%), 1fr));
	}
}

@media only screen and (max-width: 880px) {
	.sb-cards {
		max-width: calc(100vw - calc(var(--sb-space-s, 1rem) * 2));
	}
}
