---
export type Props = {
  confirmation: string;
  form: string;
  password: string;
};

const { confirmation, form, password } = Astro.props;
---

<fieldset class="off-screen">
  <legend>Ignore these fields please</legend>
  <div class="off-screen">
    <label for="p1-field" id="p1-field-label">Leave this field as is:</label>
    <input
      aria-labelledby="p1-field-label"
      autocomplete="off"
      form={form}
      id="p1-field"
      name="password"
      placeholder="Skip this!"
      tabindex="-1"
      type="password"
      value={password}
    />
  </div>
  <div class="off-screen">
    <label for="p2-field" id="p2-field-label">
      Put nothing in this field as well:
    </label>
    <input
      aria-labelledby="p2-field-label"
      autocomplete="off"
      form={form}
      id="p2-field"
      name="confirmation"
      placeholder="Skip this, too!"
      tabindex="-1"
      type="password"
      value={confirmation}
    />
  </div>
</fieldset>
