---
import type { HeadProps as Props } from "../../types";

const {
  charset = "UTF-8",
  favicon = "/favicon.svg",
  title,
  viewport = "width=device-width, initial-scale=1",
} = Astro.props;
---

<head>
  <meta charset={charset} />
  <meta content={viewport} name="viewport" />

  <title>{title}</title>

  <link href={favicon} rel="icon" type={`image/${favicon.split(".").at(-1)}`} />

  <slot />
</head>
