section.sb-card {
	border: 1px solid var(--card-border-color);
	break-inside: avoid;
	display: inline-block;
	margin-bottom: 1rem;
	max-width: 42ch;
	padding: 1rem;
	vertical-align: top;
}

section.sb-card > :not(.sb-group) {
	padding: 0 0 1rem;
	margin: 0;
}
sb- section.card > .sb-group > header {
	padding: 0;
}

section.sb-card img {
	filter: grayscale(100%);
	height: auto;
	margin: auto;
	max-width: 100%;
	width: 100%;
}

section.sb-card a:focus img,
section.sb-card a:hover img,
section.sb-card img:focus,
sb- section.card img:hover {
	filter: grayscale(0%);
}

section.sb-card:not(.sb-allow-invert) h3 {
	margin: 1.5rem 0 0;
	padding: 0;
}
