fieldset.sb-fieldset-wrapper {
	align-items: flex-start;
	background-color: var(--sb-fieldset-wrapper-background-color);
	border-color: var(--sb-fieldset-wrapper-border-color);
	border-radius: var(--sb-fieldset-wrapper-border-radius, 5px);
	border-style: var(--sb-fieldset-wrapper-border-style, dotted);
	border-width: var(--sb-fieldset-wrapper-border-width, 1px);
	color: var(--sb-fieldset-wrapper-color);
	display: var(--sb-fieldset-wrapper-display, flex);
	flex-direction: var(--sb-fieldset-wrapper-flex-direction, column);
	justify-content: var(--sb-fieldset-wrapper-justify-content, space-between);
	margin-bottom: var(--sb-fieldset-wrapper-margin-bottom, 1rem);
	padding: var(--sb-fieldset-wrapper-padding, 1rem);
}

fieldset.sb-fieldset-wrapper.required legend {
	color: var(--sb-fieldset-wrapper-legend-color-required, hsl(111, 46%, 24%));
	font-weight: var(--sb-fieldset-wrapper-legend-font-weight, 600);
	padding-bottom: 0.25rem;
}

fieldset.sb-fieldset-wrapper.required.readonly legend {
	color: var(--sb-fieldset-wrapper-legend-color-optional, hsl(212, 57%, 32%));
	padding-bottom: 0.25rem;
}

fieldset.sb-fieldset-wrapper label {
	color: var(--sb-fieldset-wrapper-label-color-optional, hsl(212, 57%, 32%));
}

fieldset.sb-fieldset-wrapper label {
	align-items: center;
	display: flex;
	font-family: var(--sb-form-fieldset-wrapper-label-font-family, inherit);
	gap: 0.4rem;
}