.sb-checkbox-input-wrapper {
	align-items: center;
	display: flex;
	gap: 0.5rem;
	justify-content: flex-start;
}

.sb-checkbox-input-wrapper input[type="checkbox"] {
	appearance: none;
	border-radius: 0.15rem;
	border: 2px solid var(--sb-color-gray-3, #a9a9b1);
	display: grid;
	font-family: inherit;
	height: 1.25rem;
	margin: 0;
	padding: 0;
	place-content: center;
	transform: translateY(-0.075em);
	width: 1.25rem;
}

.sb-checkbox-input-wrapper input[type="checkbox"]::before {
	background-color: var(--sb-color-gray-7, #44444b);
	box-shadow: inset 1rem 1rem var(--sb-color-green-shaded, #0e4e09);
	clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
	content: "";
	height: 0.65em;
	transform-origin: bottom left;
	transform: scale(0);
	transition: 120ms transform ease-in-out;
	width: 0.65em;
}

.sb-checkbox-input-wrapper:focus-within input[type="checkbox"] {
	border-radius: 0.15rem;
	outline: 3px solid var(--sb-color-green-shaded, #0e4e09);
	outline-offset: 0.15rem;
}

.sb-checkbox-input-wrapper input[type="checkbox"]:checked {
	background-color: var(--sb-color-gray-0, #fafafa);
}

.sb-checkbox-input-wrapper input[type="checkbox"]:checked::before {
	background-color: var(--sb-color-gray-7, #44444b);
	transform: scale(1);
}
