.sb-checkbox-input-wrapper {
	align-items: var(--sb-checkbox-input-wrapper-align-items, center);
	display: var(--sb-checkbox-input-wrapper-display, flex);
	gap: var(--sb-checkbox-input-wrapper-gap, 0.5rem);
	justify-content: var(--sb-checkbox-input-wrapper-justify-content, flex-start);
}

.sb-checkbox-input-wrapper input[type="checkbox"] {
	appearance: var(--sb-checkbox-input-wrapper-checkbox-appearance, none);
	border-radius: var(--sb-checkbox-input-wrapper-checkbox-border-radius,
			0.15rem);
	border: var(--sb-checkbox-input-wrapper-checkbox-border,
			2px solid hsl(212, 25%, 71%));
	display: var(--sb-checkbox-input-wrapper-checkbox-display, grid);
	font-family: var(--sb-checkbox-input-wrapper-checkbox-font-family, inherit);
	height: var(--sb-checkbox-input-wrapper-checkbox-height, 1.25rem);
	margin: var(--sb-checkbox-input-wrapper-checkbox-margin, 0);
	padding: var(--sb-checkbox-input-wrapper-checkbox-padding, 0);
	place-content: var(--sb-checkbox-input-wrapper-checkbox-place-content,
			center);
	transform: var(--sb-checkbox-input-wrapper-checkbox-transform,
			translateY(-0.075em));
	width: var(--sb-checkbox-input-wrapper-checkbox-width, 1.25rem);
}

.sb-checkbox-input-wrapper input[type="checkbox"]::before {
	background-color: var(--sb-checkbox-input-wrapper-checkbox-background-color-before,
			hsl(212, 25%, 23%));
	box-shadow: var(--sb-checkbox-input-wrapper-checkbox-box-shadow-before,
			inset 1rem 1rem hsl(111, 46%, 24%));
	clip-path: var(--sb-checkbox-input-wrapper-checkbox-clip-path-before,
			polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%));
	content: var(--sb-checkbox-input-wrapper-checkbox-content-before, "");
	height: var(--sb-checkbox-input-wrapper-checkbox-height-before, 0.65em);
	transform-origin: var(--sb-checkbox-input-wrapper-checkbox-transform-origin-before,
			bottom left);
	transform: var(--sb-checkbox-input-wrapper-checkbox-transform-before,
			scale(0));
	transition: var(--sb-checkbox-input-wrapper-checkbox-transition-before,
			120ms transform ease-in-out);
	width: var(--sb-checkbox-input-wrapper-checkbox-width-before, 0.65em);
}

.sb-checkbox-input-wrapper:focus-within input[type="checkbox"] {
	border-radius: var(--sb-checkbox-input-wrapper-checkbox-border-radius-focus,
			0.15rem);
	outline: var(--sb-checkbox-input-wrapper-checkbox-outline-focus,
			3px solid hsl(111, 46%, 24%));
	outline-offset: var(--sb-checkbox-input-wrapper-checkbox-outline-offset-focus,
			0.15rem);
}

.sb-checkbox-input-wrapper input[type="checkbox"]:checked {
	background-color: var(--sb-checkbox-input-wrapper-checkbox-background-color-checked,
			hsl(210, 20%, 98%));
}

.sb-checkbox-input-wrapper input[type="checkbox"]:checked::before {
	background-color: var(--sb-checkbox-input-wrapper-checkbox-background-color-checked-before,
			hsl(212, 25%, 23%));
	transform: var(--sb-checkbox-input-wrapper-checkbox-transform-checked-before,
			scale(1));
}
