.sb-card {
	break-inside: avoid;
	flex-grow: 1;
	flex-shrink: 1;
	margin: 0 -1rem 1rem;
	max-width: 32rem;
	padding: 1rem;
}

.sb-card h2.sb-card-heading,
.sb-card h3.sb-card-heading,
.sb-card h4.sb-card-heading {
	font-size: var(--sb-step-1, 1.25rem);
	margin: 0;
}

.sb-card .sb-card-link {
	filter: grayscale(1);
}

.sb-card .sb-card-link:focus,
.sb-card .sb-card-link:hover {
	filter: grayscale(0);
}

.sb-card:focus-within .sb-card-link .sb-card-heading,
.sb-card .sb-card-link:hover .sb-card-heading,
.sb-card .sb-card-link:hover .sb-card-subheading,
.sb-card .sb-card-link:visited:hover .sb-card-heading,
.sb-card .sb-card-link:visited:hover .sb-card-subheading {
	color: var(--sb-color-link, #09314e);
}

@media only screen and (max-width: 880px) {
	.sb-card {
		margin: 1rem auto 0;
		max-width: 100%;
		padding: 0 0 2rem;
	}
}
