---
export type Props = {
	href?: string | URL | null | undefined;
	property?: string | null | undefined;
};

const { href, property } = Astro.props;
const microdata = property ? { property } : {};
---

{
	href ? (
		<a class="sb-metadata-link" {href} {...microdata}>
			<slot />
		</a>
	) : (
		<span class="sb-metadata-span" {...microdata}>
			<slot />
		</span>
	)
}
