fieldset.sb-fieldset {
	align-items: flex-start;
	background-color: var(--sb-fieldset-background-color, hsl(212, 25%, 93%));
	border-color: var(--sb-fieldset-border-color, hsl(212, 25%, 71%));
	border-radius: var(--sb-fieldset-border-radius, 5px);
	border-style: var(--sb-fieldset-border-style, dotted);
	border-width: var(--sb-fieldset-border-width, 1px);
	color: var(--sb-fieldset-color, hsl(212, 25%, 15%));
	display: var(--sb-fieldset-display, flex);
	flex-direction: var(--sb-fieldset-flex-direction, column);
	justify-content: var(--sb-fieldset-justify-content, space-between);
	margin-bottom: var(--sb-fieldset-margin-bottom, 1rem);
	padding: var(--sb-fieldset-padding, 1rem);
}

fieldset.sb-fieldset legend {
	background-color: var(
		--sb-fieldset-legend-background-color,
		hsl(212, 25%, 93%)
	);
	border-radius: var(--sb-fieldset-legend-border-radius, 5px);
	border: var(--sb-fieldset-legend-border, 1px solid hsl(212, 25%, 71%));
	color: var(--sb-fieldset-legend-color, hsl(212, 25%, 15%));
	font-family: var(--sb-fieldset-legend-font-family, inherit);
	font-size: var(--sb-fieldset-legend-font-size, 1.25rem);
	font-weight: 400;
	padding: 0.25rem 0.5rem;
}

fieldset.sb-fieldset fieldset legend {
	font-family: var(--sb-fieldset-legend-font-family, inherit);
	font-size: var(--sb-fieldset-legend-font-size-nested, 1rem);
}