*,
*::after,
*::before {
	box-sizing: border-box;
	line-height: 1.5;
}

.sb-disabled {
	border-color: var(--sb-disabled-border-color) !important;
	color: var(--sb-disabled-color) !important;
	cursor: disabled-cursor;
}

.sb-hide {
	visibility: hidden;
}

.sb-off-screen {
	left: -100000px;
	position: absolute;
	top: -100000px;
}

.sb-print-only {
	display: none !important;
}

.sb-remove {
	display: none;
}

i {
	font-style: italic;
	font-weight: revert;
}

b {
	font-style: revert;
	font-weight: bold;
}

em {
	font-style: italic;
}

em::after {
	content: "\200a";
}

strong {
	font-weight: 700;
}

blockquote {
	margin: 0 2rem;
}

mark {
	background-color: var(--sb-color-highlight, #aaf5a3);
	color: var(--sb-color-gray-9, #131315);
	padding: 0;
}

h1 {
	font-family: var(--sb-font-titles,
			"Iowan Old Style",
			"Palatino Linotype",
			"URW Palladio L",
			P052,
			serif);
	font-size: var(--sb-step-4, 2.44rem);
	font-variant-ligatures: historical-ligatures;
	font-variant-numeric: oldstyle-nums proportional-nums;
	font-weight: 400;
	padding: 0;
}

h2 {
	color: var(--sb-color-code);
	font-family: var(--sb-font-titles,
			"Iowan Old Style",
			"Palatino Linotype",
			"URW Palladio L",
			P052,
			serif);
	font-size: var(--sb-step-3, 1.95rem);
	font-variant-ligatures: historical-ligatures;
	font-variant-numeric: oldstyle-nums proportional-nums;
	font-weight: 400;
	padding: 0;
}

h3 {
	font-family: var(--sb-font-titles,
			"Iowan Old Style",
			"Palatino Linotype",
			"URW Palladio L",
			P052,
			serif);
	font-size: var(--sb-step-2, 1.56rem);
	font-variant-ligatures: historical-ligatures;
	font-variant-numeric: oldstyle-nums proportional-nums;
	font-weight: 400;
}

h4 {
	font-family: var(--sb-font-titles,
			"Iowan Old Style",
			"Palatino Linotype",
			"URW Palladio L",
			P052,
			serif);
	font-size: var(--sb-step-1, 1.25rem);
	font-variant-ligatures: historical-ligatures;
	font-variant-numeric: oldstyle-nums proportional-nums;
	font-weight: 400;
	padding: 0;
}

h5 {
	font-family: var(--sb-font-titles,
			"Iowan Old Style",
			"Palatino Linotype",
			"URW Palladio L",
			P052,
			serif);
	font-size: var(--sb-step-0, 1rem);
	font-variant-ligatures: historical-ligatures;
	font-variant-numeric: oldstyle-nums proportional-nums;
	font-weight: 700;
	padding: 0;
}

p {
	margin: var(--sb-space-s) 0;
}

:not(pre) > code {
	color: var(--sb-color-green-shaded, #0e4e09);
}

dl > dt {
	font-size: var(--sb-step-1, 1.25rem);
}

hr {
	border: none;
	border-bottom: 1px double var(--sb-color-gray-8, #2c2c30);
	border-color: var(--sb-color-gray-8, #2c2c30);
	color: var(--sb-color-gray-8, #2c2c30);
	margin: var(--sb-space-xl, 3rem) auto;
	overflow: visible;
	text-align: center;
	width: 10ch;
}

hr:after {
	background-color: var(--sb-color-gray-1, #dfdfe2);
	color: var(--sb-color-gray-8, #2c2c30);
	content: " § ";
	padding: 0 1ch;
	position: relative;
	top: calc(var(--sb-space-s, 1.5rem) / 2);
}

details > div {
	padding: details- 0;
}

ol,
ul {
	margin: 0 0 var(--sb-space-s, 1rem);
}

article ol li,
details ol li {
	font-variant-numeric: oldstyle-nums proportional-nums;
	line-height: 1.7;
	list-style-type: decimal;
	margin: 0;
}

article ul li,
details ul li {
	line-height: 1.7;
	list-style-type: square;
	margin: 0;
}

details > summary > * {
	display: inline-block;
}

pre {
	border-radius: 5px;
	padding: 0 0.75rem;
}

:not(pre) > code {
	color: var(--sb-color-code, var(--sb-color-green-shaded, #0e4e09));
}

pre,
code {
	font-family: var(--sb-font-code,
			ui-monospace,
			"Cascadia Code",
			"Source Code Pro",
			Menlo,
			Consolas,
			"DejaVu Sans Mono",
			monospace);
}

pre > code {
	display: flex;
	flex-direction: column;
	font-size: 1rem;
	gap: 0;
	justify-content: flex-start;
	line-height: 1.3;
	padding: 0;
}

pre > code .line {
	margin: 0;
	padding: 0;
}

pre.astro-code > code > span:first-child::before {
	padding-top: 0.5rem;
}

pre.astro-code > code > span:last-child::before {
	padding-bottom: 0.5rem;
}

pre.astro-code {
	counter-reset: lines 0;
	position: relative;
}

pre.astro-code span.line::before {
	content: counter(lines) "";
	counter-increment: lines 1;
	display: inline-block;
	margin-right: 1rem;
	padding: 0.1rem 0.5rem 0.1rem 0;
	text-align: right;
	width: var(--sb-line-number-width, 3ch);
}

main > article dl > dd {
	margin: 0;
}
