---
import type { HTMLAttributes } from "astro/types";

export type Props = HTMLAttributes<"datalist"> & { options: Array<string> };

const { options = [], ...attrs } = Astro.props;
---

<datalist class="sb-datalist" {...attrs}>
	{options.map((item: string) => <option>{item}</option>)}
</datalist>
