---
import "./index.css"
import Microdata from "../../Microdata/index.astro"
import createTelUrl from "../../../utilities/createTelUrl"
import mapAttributes from "../../../utilities/mapAttributes"
import type { TelProps as Props } from "../../../types"
import type { HTMLAttributes } from "../../form/html-types"

const {
  as = "span",
  ["class:list"]: classList = [],
  dataset,
  link = {},
  microdata = {},
  properties,
  tel,
  useTel,
  ...attrs
} = Astro.props

const elementAttrs = mapAttributes(attrs as HTMLAttributes, ["sb-tel"])
const linkAttrs = mapAttributes(link, ["sb-tel-link"])

const phone = ((await Astro.slots.render("default")) || tel || "").trim()
const { href } = link

const Element = as
const telLink = href ? href : createTelUrl(phone)

const useMicrodata = Boolean(import.meta.env.USE_MICRODATA)
---

{
  useMicrodata ? (
    <Microdata
      {microdata}
      {properties}
    />
  ) : null
}
{
  useTel ? (
    <a
      {...linkAttrs}
      href={telLink}
    >
      <Element {...elementAttrs}>{phone.replaceAll(/[^0-9+]/g, " ")}</Element>
    </a>
  ) : (
    <Element {...elementAttrs}>{phone.replaceAll(/[^0-9+]/g, " ")}</Element>
  )
}
 ../../form/html-types
