.sb-boolean-wrapper label {
	display: grid;
	gap: 1em;
	grid-template-columns: 1em auto;
	margin-top: 1rem;
	width: min(86vw, 100%);
}

.sb-boolean-wrapper label > * {
	margin: 0;
}

.sb-boolean-wrapper input[type="checkbox"] {
	appearance: var(--sb-boolean-field-appearance, none);
	border-radius: var(--sb-boolean-field-border-radius, 0.15em);
	border: var(--sb-boolean-field-border, 0.15em solid hsl(212, 25%, 23%));
	color: var(--sb-boolean-field-color, hsl(212, 25%, 23%));
	display: var(--sb-boolean-field-display, grid);
	font: var(--sb-boolean-field-font, inherit);
	height: var(--sb-boolean-field-height, 1.15em);
	margin: var(--sb-boolean-field-margin, 0.15em 0 0);
	place-content: var(--sb-boolean-fieldplace-content, center);
	transform: var(--sb-boolean-field-transform, translateY(-0.075em));
	vertical-align: var(--sb-boolean-field-vertical-align, middle);
	width: var(--sb-boolean-field-width, auto);
}

.sb-boolean-wrapper input[type="checkbox"]:checked {
	background-color: var(
		--sb-boolean-field-background-color-checked,
		hsl(212, 25%, 98%)
	);
}

.sb-boolean-wrapper input[type="checkbox"]::before {
	background-color: var(
		--sb-boolean-field-background-color-before,
		hsl(212, 25%, 23%)
	);
	box-shadow: var(
		--sb-boolean-field-box-shadow-before,
		inset 1rem 1rem var(--color-hunter-green)
	);
	clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
	content: "";
	height: 0.65em;
	transform-origin: bottom left;
	transform: scale(0);
	transition: 120ms transform ease-in-out;
	width: 0.65em;
}

.sb-boolean-wrapper input[type="checkbox"]:checked::before {
	background-color: var(
		--sb-boolean-field-background-color-checked-before,
		hsl(212, 25%, 23%)
	);
	transform: scale(1);
}

.sb-boolean-wrapper input[type="checkbox"]:focus {
	outline-offset: max(2px, 0.15em);
	outline: var(
		--sb-boolean-field-outline,
		max(2px, 0.15em) solid hsl(111, 46%, 24%)
	);
}

.sb-boolean-wrapper input:disabled {
	color: var(--contact-form-input-color-disabled);
	cursor: not-allowed;
}

.sb-boolean-input:focus {
	outline-color: var(--sb-boolean-input-outline-color, hsl(200, 82%, 40%));
}
