.sb-button-bar {
	border-radius: var(--sb-button-bar-border-radius, 5px);
	border: var(--sb-button-bar-border, 1px solid hsl(212, 25%, 83%));
	padding: var(--sb-button-bar-padding, 1rem);
	width: 100%;
}
