.sb-header {
	align-items: center;
	background-color: var(--sb-header-background-color, var(--sb-color-gray-8, #2c2c30));
	border-bottom: 1px solid var(--sb-header-border-bottom-color, var(--sb-color-gray-5, #747481));
	color: var(--sb-header-color, var(--sb-color-gray-0, #fafafa));
	display: flex;
	flex-basis: min-content;
	flex-wrap: wrap;
	font-family: inherit;
	font-size: inherit;
	gap: 1rem;
	grid-area: header;
	isolation: isolate;
	justify-content: space-between;
	max-width: 100vw;
	padding: var(--sb-space-xs, 0.5rem) var(--sb-space-m, 1.5rem);
	z-index: 100000;
}
