.sb-messenger {
	align-items: center;
	background-color: var(--sb-color-gray-1, #dfdfe2);
	box-shadow: 0 0 12px var(--sb-color-gray-8, #2c2c30);
	color: var(--sb-color-gray-8, #2c2c30);
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 1rem 1.5rem;
}

.sb-messenger.sb-messenger-danger {
	background-color: var(--sb-color-orange-tinted, #f5c5a3);
	color: var(--sb-color-gray-8, #2c2c30);
}

.sb-messenger.sb-messenger-info {
	background-color: var(--sb-color-blue-tinted, #a3d3f5);
	color: var(--sb-color-gray-8, #2c2c30);
}

.sb-messenger.sb-messenger-warning {
	background-color: var(--sb-color-highlight, #aaf5a3);
	color: var(--sb-color-gray-8, #2c2c30);
}

.sb-messenger details {
	margin-top: 0;
	position: relative;
}

.sb-messenger details * + * {
	margin: 0 auto var(--sb-space-s, 1rem);
	max-width: var(--sb-page-width, min(48rem, 90vw));
}

.sb-messenger summary {
	flex-basis: auto;
	font-weight: 400;
}

.sb-messenger details[open] summary {
	margin-bottom: 1rem;
}

.sb-messenger .sb-closer {
	align-items: center;
	display: flex;
	flex-basis: min-content;
	height: 48px;
	justify-content: center;
	margin: 0 0 0 1rem;
	min-height: 48px;
	min-width: 48px;
	padding: 0;
}

.sb-messenger .sb-closer::after {
	content: "×";
	font-size: 2.4rem;
}

.sb-messenger .sb-closer:focus::after,
.sb-messenger .sb-closer:hover::after {
	border: none;
	border-radius: 5px;
	color: var(--sb-color-orange-shaded, #48094e);
	content: "close";
	font-size: 1.2rem;
	outline: 2px solid var(--sb-color-orange-shaded, #48094e);
	outline-offset: 5px;
	margin-top: 0.5rem;
}

@media print {
	.sb-messenger:has(details) {
		display: none;
	}

	.sb-messenger:has(details[open]) {
		display: block;
		margin: var(--sb-space-s, 1rem) 0;
		padding: var(--sb-space-s) 0;
	}

	.sb-messenger details[open]::after {
		content: "\22a3\22a2";
		display: flex;
		font-size: var(--sb-step-1);
		justify-content: center;
		line-height: 3;
	}

	.sb-messenger summary {
		list-style-type: none;
	}
}