.sb-pull-quote {
	background-color: var(--sb-color-green-tinted, #aaf5a3);
	border-radius: 5px;
	color: var(--sb-color-gray-9, #131315);
	display: flex;
	flex-direction: column;
	font-family: var(
		--sb-font-titles,
		"Iowan Old Style",
		"Palatino Linotype",
		"URW Palladio L",
		P052,
		serif
	);
	font-size: 1.25rem;
	font-weight: 500;
	justify-content: space-evenly;
	margin: var(--sb-space-s, 1rem) 0;
	padding: 2rem 2rem 1.5rem;
}

.sb-pull-quote-blockquote {
	margin: 0;
}

.sb-pull-quote .sb-pull-quote-figcaption {
	align-items: center;
	color: var(--sb-color-gray-9, #131315);
	display: flex;
	font-family: var(
		--sb-font-titles,
		"Iowan Old Style",
		"Palatino Linotype",
		"URW Palladio L",
		P052,
		serif
	);
	font-size: 1rem;
	font-style: italic;
	justify-content: flex-end;
	text-align: right;
}
