---
import mapAttributes from "../../utilities/mapAttributes"

import type { ButtonProps as Props } from "../../types/form"

const { label: lbl, type = "button", ...attrs } = Astro.props

const buttonAttrs = mapAttributes(attrs, ["sb-button", `sb-button-${type}`])

const label = (await Astro.slots.render("default")) || lbl
---

<button {...buttonAttrs}>{label}</button>
