.sb-field {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	justify-content: space-between;
	margin-bottom: var(--sb-space-s, 1.5rem);
}

.sb-field .sb-label {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	font-weight: 400;
	justify-content: space-between;
}

.sb-label-tag {
	font-size: var(--sb-step-1, 1.25rem);
}

.sb-help {
	color: var(--sb-help-color, var(--sb-color-code, #0e4e09));
	font-size: 1rem;
}

.sb-field textarea {
	max-width: min(48rem, 100%);
	width: 100%;
}

.sb-field input,
.sb-field select,
.sb-field textarea {
	background-color: var(--sb-field-background-color, var(--sb-color-gray-1, #dfdfe2));
	border: 2px solid var(--sb-field-border-color, var(--sb-color-gray-3, #a9a9b1));
	border-radius: 4px;
	box-sizing: border-box;
	color: var(--sb-field-color, var(--sb-color-gray-9, #131315));
	font-family: var(--sb-font-body);
	font-size: var(--sb-step-0, 1rem);
	line-height: 1.4;
	padding: 0.3rem 0.6rem;
}

.sb-field input:focus,
.sb-field select:focus,
.sb-field textarea:focus {
	border: 2px solid var(--sb-field-border-color-focus, var(--sb-color-blue, #0095ff));
	color: var(--sb-field-color-focus, var(--sb-color-gray-8, #2c2c30));
	outline: 0;
}

.sb-field:has(input:focus) .sb-label,
.sb-field:has(select:focus) .sb-label,
.sb-field:has(textarea:focus) .sb-label {
	color: var(--sb-field-label-color-focus, var(--sb-color-link, #0d4872));
	font-weight: 600;
}

.sb-field input:required,
.sb-field select:required,
.sb-field textarea:required {
	border: 4px double var(--sb-field-required-border-color, var(--sb-color-green-shaded, #0e4e09));
}

.sb-field input:required:focus,
.sb-field select:required:focus,
.sb-field textarea:required:focus {
	border: 4px double var(--sb-field-required-border-color-focus, var(--sb-color-green, #4f3));
	outline-offset: 5px;
}

.sb-field:has(input:required:focus) .sb-label,
.sb-field:has(select:required:focus) .sb-label,
.sb-field:has(textarea:required:focus) .sb-label {
	color: var(--sb-field-label-required-color-focus, var(--sb-color-green-shaded, #0e4e09));
	font-weight: 600;
}

.sb-optional::before {
	content: "Optional: ";
	display: inline-block;
	margin-right: 0.5rem;
}

.sb-field input[type="number"] {
	text-align: right;
}

.sb-field input[type="color"] {
	all: revert;
	border: 2px solid forestgreen;
	border-radius: 4px;
	min-height: 3rem;
}

.sb-field label {
	position: relative;
}

.sb-field:has(input[data-touched]:not(:invalid)) label .sb-label-tag::before,
.sb-field:has(select[data-touched]:not(:invalid)) label .sb-label-tag::before,
.sb-field:has(textarea[data-touched]:not(:invalid)) label .sb-label-tag::before {
	color: var(--sb-field-label-tag-color-valid, var(--sb-color-green, #4f3));
	content: "\2714";
	display: inline-block;
	font-size: 1.5rem;
	font-weight: 900;
	margin-right: 0.75rem;
}

.sb-field:has(input[data-touched]:invalid) label .sb-label-tag::before,
.sb-field:has(select[data-touched]:invalid) label .sb-label-tag::before,
.sb-field:has(textarea[data-touched]:invalid) label .sb-label-tag::before {
	color: var(--sb-field-label-tag-color-invalid, var(--sb-color-fuchsia, #ea00ff));
	content: "\2718";
	display: inline-block;
	font-size: 1.5rem;
	font-weight: 900;
	margin-right: 0.75rem;
}

.sb-field input[data-touched]:invalid,
.sb-field select[data-touched]:invalid,
.sb-field textarea[data-touched]:invalid {
	border: var(--sb-field-border-invalid, 4px dashed var(--sb-color-fuchsia, #ea00ff));
}

.sb-form:has(input[data-touched]:invalid, select[data-touched]:invalid, textarea[data-touched]:invalid) .sb-button-bar .sb-group[data-touched]::before {
	content: "Form not quite ready yet. See above. ";
	color: var(--sb-form-button-bar-group-color, var(--sb-color-fuchsia-shaded, #48094e));
	margin-right: 1rem;
}

.sb-form-alert-box {
	border-radius: 5px;
	color: var(--sb-form-alert-box-color, var(--sb-color-gray-9, #131315));
	position: relative;
	width: 100%;
}

.sb-form-alert-box .sb-form-message-box {
	border-radius: 5px;
	padding: var(--sb-space-m, 1.25rem);
}

.sb-form-alert-close-button {
	background-color: var(--sb-form-alert-close-button-background-color, transparent);
	border: none;
	color: var(--sb-form-alert-close-button-color, var(--sb-color-blue-shaded, #0d4872));
	font-size: 2rem;
	line-height: 1;
	min-height: 48px;
	min-width: 48px;
	padding: 0.25rem;
	position: absolute;
	right: 0.65rem;
	top: 0.75rem;
}

.sb-form-alert-close-button:focus,
.sb-form-alert-close-button:hover {
	outline: solid 2px var(--sb-form-alert-close-button-outline-color, var(--sb-color-blue-shaded, #0d4872));
	border-radius: 5px;
	color: var(--sb-form-alert-close-button-color-hover, var(--sb-color-blue-shaded, #0d4872));
}

.sb-form-alert-box a,
.sb-form-alert-box a:visited {
	color: var(--sb-form-alert-box-link-color, var(--sb-color-blue-shaded, #0d4872));
}


.sb-form .sb-form-alert-box a:active,
.sb-form .sb-form-alert-box a:focus,
.sb-form .sb-form-alert-box a:hover {
	background-color: var(--sb-form-alert-box-link-background-color-hover, var(--sb-color-blue-shaded, #0d4872));
	color: var(--sb-form-alert-box-link-color-hover, var(--sb-color-gray-0, #fafafa));
}

.sb-form-alert-box h2 {
	color: var(--sb-form-alert-box-h2-color, var(--sb-color-gray-9, #131315));
	margin: 0;
}

.sb-form-issue {
	background-color: var(--sb-form-issue-background-color, var(--sb-color-gray-1, #dfdfe2));
	border: var(--sb-form-issue-border, 4px dashed var(--sb-color-fuchsia, #ea00ff));
}

.sb-form-success {
	background-color: var(--sb-form-success-background-color, var(--sb-color-green-tinted, #aaf5a3));
	border: var(--sb-form-success-border, 4px solid var(--sb-color-green-shaded, #0e4e09));
}
