.sb-time-to-read {
	background-color: var(--sb-color-green-tinted, #aaf5a3);
	border-radius: 5px;
	color: var(--sb-color-gray-8, #2c2c30);
	font-size: 1rem;
	margin: 0 0 var(--sb-space-m, 1.5rem);
	padding: 0.5rem;
}

.sb-time-to-read > p {
	margin: 0;
}