.sb-footer {
	align-items: center;
	background-color: hsl(240, 5%, 88%);
	border-top-color: hsl(240, 5%, 28%);
	border-top-style: solid;
	border-top-width: 1px;
	color: hsl(240, 5%, 98%);
	display: flex;
	flex-basis: min-content;
	flex-wrap: wrap;
	gap: 1rem;
	grid-area: footer;
	isolation: isolate;
	justify-content: space-between;
	padding: 1rem 1.5rem;
}

.sb-footer .sb-nav-list {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: 0.25rem;
	justify-content: flex-start;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.sb-footer li {
	margin-right: 1rem;
	white-space: nowrap;
}

.sb-footer .sb-nav {
	text-transform: lowercase;
}

.sb-footer .sb-nav-this-page {
	background-color: var(--sb-color-link, hsl(212, 57%, 29%));
	border-radius: 4px;
	color: hsl(240, 5%, 88%);
	padding: 3px 5px;
}

.sb-footer a.sb-nav-link {
	background-color: transparent;
	color: var(--sb-color-link, hsl(212, 57%, 29%));
	padding: 3px 5px;
	text-decoration: none;
}

.sb-footer a.sb-nav-link:focus,
.sb-footer a.sb-nav-link:hover {
	background-color: var(--sb-color-link, hsl(212, 57%, 29%));
	border-radius: 4px;
	color: hsl(240, 5%, 88%);
	outline: 2px solid var(--sb-color-link, hsl(212, 57%, 29%));
	outline-offset: 3px;
	text-decoration: none;
}
