.sb-footer {
	align-items: stretch;
	background-color: var(--sb-footer-background-color, var(--sb-color-gray-1, #dfdfe2));
	border-top: 1px solid var(--sb-footer-border-top-color, var(--sb-color-gray-7, #44444b));
	color: var(--sb-footer-color, var(--sb-color-gray-9, #131315));
	display: flex;
	flex-flow: column wrap;
	flex-basis: min-content;
	gap: 1rem;
	grid-area: footer;
	isolation: isolate;
	justify-content: space-between;
	padding: 1rem 0 0;
}

.sb-footer > * {
	align-items: center;
	display: flex;
	gap: 1rem;
	justify-content: space-between;
	margin: 0;
	padding: 0 var(--sb-space-m);
}

.sb-footer > * p {
	margin: 0;
}

.sb-footer .sb-nav-list {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: 0.25rem;
	justify-content: flex-start;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.sb-footer li {
	margin-right: 1rem;
	white-space: nowrap;
}

.sb-footer .sb-nav {
	text-transform: lowercase;
}

.sb-footer .sb-nav-this-page {
	align-items: center;
	background-color: var(--sb-footer-this-page-background-color, var(--sb-color-link, #0d4872));
	box-sizing: border-box;
	border-radius: 4px;
	color: var(--sb-footer-this-page-color, var(--sb-color-gray-1, #dfdfe2));
	display: flex;
	justify-content: center;
	min-height: 48px;
	padding: 0.25rem 0.75rem;
}

.sb-footer a.sb-nav-link {
	align-items: center;
	background-color: var(--sb-footer-nav-link-background-color, transparent);
	box-sizing: border-box;
	color: var(--sb-footer-nav-link-color, var(--sb-color-link, #0d4872));
	display: flex;
	justify-content: center;
	min-height: 48px;
	text-decoration: none;
	padding: 0.25rem 0.75rem;
	margin-left: -0.75rem;
}

.sb-footer a.sb-nav-link:focus,
.sb-footer a.sb-nav-link:hover {
	background-color: var(--sb-footer-nav-link-background-color-hover, var(--sb-color-link, #0d4872));
	border-radius: 4px;
	color: var(--sb-footer-nav-link-color-hover, var(--sb-color-gray-1, #dfdfe2));
	outline: 2px solid var(--sb-footer-nav-link-outline-color-hover, var(--sb-color-link, #0d4872));
	outline-offset: 3px;
	text-decoration: none;
}

.sb-footer .sb-logotype {
	margin: 0 0 var(--sb-space-s, 1.25rem);
}
