button.sb-button {
	background-color: var(--sb-button-background-color, blue);
	border: var(--sb-button-border, 2px solid blue);
	border-radius: var(--sb-button-border-radius, 4px);
	color: var(--sb-button-color, white);
	padding: var(--sb-button-padding, 0.3rem 0.6rem);
}

button.sb-button-reset {
	background-color: var(--sb-button-reset-background-color, red);
	color: var(--sb-button-reset-color, white);
}

button.sb-button-submit {
	background-color: var(--sb-button-submit-background-color, green);
	color: var(--sb-button-submit-color, white);
}
