---
import "./index.css"
import generateShortId from "../../../utilities/generateShortId"
import mapAttributes from "../../../utilities/mapAttributes"
import type { Button as Props } from "../../../types/form"

const {
	id = generateShortId(),
	label = "Activate",
	type = "button",
	...attrs
} = Astro.props

const elemAttrs = mapAttributes(attrs, ["sb-button"])

const lbl = (await Astro.slots.render("default")) || label
---

<button {...elemAttrs} data-sb-button={type} {id} {type}>
	{lbl}
</button>
