article.sb-article {
	margin: var(--sb-article-margin, 5rem auto);
	max-width: 48rem;
}

article.sb-as-columns {
	margin: 0;
	max-width: unset;
	margin: var(--sb-article-columns-margin, 0);
	padding: var(--sb-article-columns-padding, 1rem 1.5rem);
}

article.sb-article *+* {
	margin-top: 1rem;
	margin-top: var(--space-s, 1rem);
}
