.sb-post {
	margin: auto;
	max-width: min(48rem, 92vw);
	padding: 1.5rem 0;
}

.sb-post > * + * {
	margin-top: var(--sb-space-s, 1rem);
}

.sb-post a {
	color: var(--sb-color-link, hsl(212, 57%, 29%));
	display: inline-block;
	margin: -0.0625rem -0.1875rem;
	padding: 0.0625rem 0.1875rem;
	text-decoration: underline;
	text-underline-offset: 0.3125rem;
	text-decoration-skip-ink: none;
}

.sb-post .sb-post-header {
	margin: 0 0 2rem;
}

.sb-post .sb-post-header .sb-post-title {
	margin: 0;
	padding: 0;
}
