.sb-post {
	margin: auto;
	max-width: min(48rem, 92vw);
	padding: 1.5rem 0;
}

.sb-post > * + * {
	margin-top: var(--sb-space-s, 1rem);
}

.sb-post .sb-post-header {
	margin: 0 0 2rem;
}

.sb-post .sb-post-header .sb-post-title {
	margin: 0;
	padding: 0;
}
