.sb-code-block {
	align-items: stretch;
	display: flex;
	flex-direction: column-reverse;
	gap: 0;
	justify-content: flex-start;
	margin: 0 0 1.5rem;
}

.sb-code-block figcaption {
	text-align: center;
}

.sb-code-block pre {
	border-radius: 5px;
	padding: 0 0.75rem;
	margin: 0.5rem;
}

.sb-code-block pre,
.sb-code-block code {
	font-family: var(--sb-font-code,
			ui-monospace,
			"Cascadia Code",
			"Source Code Pro",
			Menlo,
			Consolas,
			"DejaVu Sans Mono",
			monospace);
}

.sb-code-block pre > code {
	display: flex;
	flex-direction: column;
	font-size: 1rem;
	gap: 0;
	justify-content: flex-start;
	line-height: 1.3;
	padding: 0;
}

.sb-code-block pre > code .line {
	margin: 0;
	padding: 0;
}

.sb-code-block pre.astro-code > code > span:first-child::before {
	padding-top: 0.5rem;
}

.sb-code-block pre.astro-code > code > span:last-child::before {
	padding-bottom: 0.5rem;
}

.sb-code-block pre.astro-code {
	counter-reset: lines 0;
	position: relative;
}

.sb-code-block pre.astro-code span.line::before {
	border-right: 1px solid var(--sb-color-gray-7, #44444b);
	color: var(--sb-color-highlight, #aaf5a3);
	content: counter(lines) "";
	counter-increment: lines 1;
	display: inline-block;
	margin-right: 1rem;
	padding: 0.1rem 0.5rem 0.1rem 0;
	text-align: right;
	width: 2ch;
}

.sb-code-block button.sb-copy-to-clipboard {
	background: transparent;
	border-radius: 5px;
	border: none;
	color: var(--sb-color-gray-0, #fafafa);
	font-family: var(--sb-font-body,
			Inter,
			Roboto,
			"Helvetica Neue",
			"Arial Nova",
			"Nimbus Sans",
			Arial,
			sans-serif);
	font-size: 1rem;
	padding: 2px 4px;
	position: absolute;
	right: 1rem;
	top: 0.5rem;
}

.sb-code-block button.sb-copy-to-clipboard:focus,
.sb-code-block button.sb-copy-to-clipboard:hover {
	background-color: var(--sb-color-gray-8, #2c2c30);
	color: var(--sb-color-highlight, #aaf5a3);
	outline-color: var(--sb-color-highlight, #aaf5a3);
}
