.sb-fieldset {
	border-radius: 5px;
	border: 1px solid hsl(240, 5%, 88%);
	padding: 1rem;
	width: 100%;
}

.sb-fieldset-legend {
	border-radius: 5px;
	border: 1px solid hsl(240, 5%, 88%);
	font-size: var(--sb-step-1, 1.25rem);
	font-weight: 500;
	margin-left: 0.5rem;
	padding: 0.5rem;
}

.sb-fieldset:focus-within {
	border-color: hsl(111, 46%, 24%);
}

.sb-fieldset:focus-within legend {
	border-color: hsl(111, 46%, 24%);
	color: hsl(111, 46%, 24%);
	font-variant-caps: all-small-caps;
}
