.sb-field {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	justify-content: space-between;
	margin-bottom: var(--sb-space-s, 1.5rem);
	max-width: 48ch;
}

.sb-field .sb-label {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	font-weight: 400;
	justify-content: space-between;
}

.sb-label-tag {
	font-size: var(--sb-step-1, 1.25rem);
}

.sb-help {
	color: var(--sb-help-color, var(--sb-color-code, #0e4e09));
	font-size: 1rem;
}

.sb-field textarea {
	max-width: 48ch;
	width: 100%;
}

.sb-field input,
.sb-field select,
.sb-field textarea {
	background-color: var(--sb-field-background-color, var(--sb-color-gray-1, #dfdfe2));
	border: 2px solid var(--sb-field-border-color, var(--sb-color-gray-3, #a9a9b1));
	border-radius: 4px;
	color: var(--sb-field-color, var(--sb-color-gray-9, #131315));
	font-family: var(--sb-font-body);
	font-size: var(--sb-step-0, 1rem);
	line-height: 1.4;
	padding: 0.3rem 0.6rem;
}

.sb-field input:focus,
.sb-field select:focus,
.sb-field textarea:focus {
	border: 2px solid var(--sb-field-border-color-focus, var(--sb-color-blue, #0095ff));
	color: var(--sb-field-color-focus, var(--sb-color-gray-8, #2c2c30));
	outline: 0;
}

.sb-field:has(input:focus) .sb-label,
.sb-field:has(select:focus) .sb-label,
.sb-field:has(textarea:focus) .sb-label {
	color: var(--sb-field-label-color-focus, var(--sb-color-link, #09314e));
	font-weight: 600;
}

.sb-field input:required,
.sb-field select:required,
.sb-field textarea:required {
	border: 4px double var(--sb-field-required-border-color, var(--sb-color-green-shaded, #0e4e09));
}

.sb-field input:required:focus,
.sb-field select:required:focus,
.sb-field textarea:required:focus {
	border: 4px double var(--sb-field-required-border-color-focus, var(--sb-color-green, #44ff33));
	outline-offset: 5px;
}

.sb-field:has(input:required:focus) .sb-label,
.sb-field:has(select:required:focus) .sb-label,
.sb-field:has(textarea:required:focus) .sb-label {
	color: var(--sb-field-label-required-color-focus, var(--sb-color-green-shaded, #0e4e09));
	font-weight: 600;
}

.sb-optional::after {
	content: "(optional)";
	display: inline-block;
	margin-left: 0.5rem;
}

.sb-field input[type="number"] {
	text-align: right;
}

.sb-field input[type="color"] {
	all: revert;
	border: 2px solid forestgreen;
	border-radius: 4px;
	min-height: 3rem;
}
