.sb-accordion {
	background-color: var(--sb-accordion-background-color, #fafafa);
	color: var(--sb-accordion-color, #2c2c30);
	border: var(--sb-accordion-border, 1px solid #747481);
	border-radius: 5px;
}

.sb-accordion-summary {
	background-color: var(--sb-accordion-summary-background-color, #0d4872);
	color: var(--sb-accordion-summary-color, #fafafa);
	font-size: var(--sb-step-1, 1.25rem);
	margin: 0;
	padding: 1rem;
}

.sb-accordion-content {
	border-top: var(--sb-accordion-content-border-top, 1px solid #747481);
	padding: 0 1rem;
	overflow: hidden;
}