.sb-remove {
	display: none;
}

.sb-paginator {
	align-items: center;
	display: flex;
	justify-content: center;
	position: relative;
	padding: 3.2rem 1.5rem 1rem;
	width: 100vw;
}

.sb-paginator-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.sb-paginator-list li {
	font-size: 2rem;
	height: 3rem;
	width: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid var(--sb-color-link, hsl(212, 57%, 29%));
	border-radius: 3px;
	position: relative;
	margin: 0 1px;
}

.sb-paginator-list li:has(a[aria-current]) {
	background-color: var(--sb-color-link, hsl(212, 57%, 29%));
	color: hsl(210, 20%, 98%);
}

.sb-paginator-list li a {
	align-items: center;
	display: flex;
	justify-content: center;
	color: var(--sb-color-link, hsl(212, 57%, 29%));
	text-decoration: none;
	font-variant-numeric: tabular-nums lining-nums;
	height: 100%;
	width: 100%;
}

.sb-paginator-list li a[aria-current] {
	color: hsl(210, 20%, 98%);
}

.sb-paginator-list li a[aria-current]:hover {
	outline: none;
}

.sb-paginator-list li a[aria-current]::after {
	content: attr(aria-label);
	font-size: 1rem;
	position: absolute;
	top: -1.6rem;
	left: 0;
	white-space: nowrap;
	color: hsl(240, 5%, 18%);
}

.sb-paginator-list:hover li a[aria-current]::after {
	display: none;
}

.sb-paginator-list li:hover a[aria-current]::after {
	display: unset;
}

.sb-paginator-list li:has(a:not([aria-current])):focus-within,
.sb-paginator-list li:has(a:not([aria-current])):hover {
	border: 2px solid hsl(240, 5%, 18%);
	outline: 0;
}

.sb-paginator-list li:focus-within a:not([aria-current]),
.sb-paginator-list li:hover a:not([aria-current]) {
	background-color: hsla(212, 57%, 32%, 0.3);
	color: hsl(240, 5%, 18%);
	outline: 0;
}

.sb-paginator-list li:hover a:not([aria-current])::after {
	content: attr(aria-label);
	font-size: 1rem;
	position: absolute;
	top: -1.6rem;
	left: 0;
	white-space: nowrap;
	color: hsl(240, 5%, 18%);
}

@media only screen and (max-width: 96rem) {
	.sb-paginator-list
		.sb-paginator-list-item:not(:first-child):not(:last-child) {
		display: none;
	}

	.sb-paginator {
		padding: 1.5rem 0;
	}
}
