---
export type Props = {
	isHyperlink?: boolean;
	itemprop?: string | null | undefined;
};

const { isHyperlink, itemprop } = Astro.props;
const property = itemprop ? { itemprop } : {};
---

{
	isHyperlink ? (
		<a
			class="sb-tel-link"
			href={`tel:${await Astro.slots.render("default")}`}
			{...property}
		>
			<slot />
		</a>
	) : (
		<span class="sb-tel-span" {...property}>
			<slot />
		</span>
	)
}
