---
import "./index.css";
import Microdata from "../../Microdata/index.astro";
import createClassList from "../../utilities/createClassList";
import createTelUrl from "../../utilities/createTelUrl";
import mapAttributes from "../../utilities/mapAttributes"
import mapDataset from "../../utilities/mapDataset";
import type { TelProps as Props } from "../../types";

const {
	as = "span",
	["class:list"]: classList = [],
	dataset,
	link = {},
	microdata = {},
	properties,
	tel,
	useTel,
	...attrs
} = Astro.props;

const phone = (
	(await Astro.slots.render("default")) ||
	tel ||
	""
).trim();

const {
	["class:list"]: linkClassList = [],
	dataset: linkDataset = {},
	href,
	...linkAttrs
} = link;

const Element = as;
const telLink = href ? href : createTelUrl(phone);

const useMicrodata = Boolean(import.meta.env.USE_MICRODATA);
---

{useMicrodata ? <Microdata {microdata} {properties} /> : null}
{
	useTel ? (
		<a
			{...linkAttrs}
			class:list={createClassList("sb-tel-link", linkClassList)}
			{...mapDataset(linkDataset)}
			data-sb-tel="link"
			href={telLink}
		>
			<Element
				{...attrs}
				class:list={createClassList("sb-tel", classList)}
				{...mapDataset(dataset)}
				data-sb-tel
			>
				{phone.replaceAll(/[^0-9+]/g, " ")}
			</Element>
		</a>
	) : (
		<Element
			{...attrs}
			class:list={createClassList("sb-tel", classList)}
			{...mapDataset(dataset)}
			data-sb-tel
		>
			{phone.replaceAll(/[^0-9+]/g, " ")}
		</Element>
	)
}
