.sb-site-map ol,
.sb-site-map ul {
	font-size: var(--sb-step-1, 1.25rem);
	line-height: max(48px, 1.5);
	padding: 0;
}

.sb-site-map ol li,
.sb-site-map ul li {
	list-style-type: none;
}

.sb-site-map ol ol,
.sb-site-map ol ul,
.sb-site-map ul ol,
.sb-site-map ul ul {
	margin: 0;
}

.sb-site-map ol ol li,
.sb-site-map ol ul li,
.sb-site-map ul ol li,
.sb-site-map ul ul li {
	border-left: 1px solid var(--sb-color-gray-5);
	padding: 0 0 0 1rem;
	margin: 0 0 0 0.75rem;
}

.sb-site-map a {
	text-decoration: none;
}
